
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SideBar</title>
    <style>
        .sidebar{
            background-color: #00415d;
        }

    </style>
</head>
<body>
    <div class="col-md-3">

        <div id="sidebar">
            <div class="container">
                <div class="input-group">

                </div>
            </div>

            <ul class="nav navbar-nav side-bar">

                <li class="side-bar">
                    <a href="/admin/don-hang">
                        <span class="glyphicon glyphicon-shopping-cart">&nbsp;</span>Quản lý Đơn hàng
                    </a>
                </li>

                <li class="side-bar">
                    <a href="/admin/san-pham">
                        <span class="glyphicon glyphicon-folder-open">&nbsp;</span>Quản lý Sản phẩm
                    </a>
                </li>

                <li class="side-bar">
                    <a href="/admin/danh-muc">
                        <span class="glyphicon glyphicon-tasks">&nbsp;</span>Quản lý Danh Mục
                    </a>
                </li>

                <li class="side-bar main-menu">
                    <a href="/admin/tai-khoan">
                        <span class="glyphicon glyphicon-th-list">&nbsp;</span>Quản lý Tài khoản
                    </a>
                </li>

                <li class="side-bar main-menu">
                    <a href="/admin/lien-he">
                        <span class="glyphicon glyphicon-envelope">&nbsp;</span>Quản lý Liên Hệ
                    </a>
                </li>

                <li class="side-bar main-menu">
                    <a href="/admin/thong-ke">
                        <span class="glyphicon glyphicon-signal">&nbsp;</span>Thống kê
                    </a>
                </li>

            </ul>
        </div>
    </div>

</body>
</html>
